a:visited {
    color: black;
}

.section1 {
    font-family: 'Alata', sans-serif;
    color: black;
    margin: 0px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 2s;
    overflow: hidden;
}

.section1 h1 {
    font-size: 6.5em;
    z-index: 1;
    opacity: 1;
    transition: all 1.2s;
}

.video-container {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.title {
    padding: 0% 20%;
    z-index: 2;
}

.title:hover h1 {
    transform: scale(1.04);
    transition: all 1.5s;
    color: white;
    font-size: 8em;
    font-weight: 900;
}

video {
    min-width: 100%;
    min-height: 100%;
    size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%);
}

.definitive_version {
    position: relative;
    padding: 1% 3%;
    margin-left: 10%;
    background-color: rgb(225, 169, 14);
    background: linear-gradient(rgb(225, 155, 14), #edd0ac);
    border-color: black;
    border-radius: 20px;
    font-size: 1.5em;
}

.definitive_version a {
    font-family: system-ui;
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: center;
}

.excel {
    height: 65vh;
    padding-top: 0px;
    margin: 5% 2% 5% 2%;
    border-radius: 3%;
    float: right;
    shape-outside: margin-box;
}

span {
    font-size: 0.6em;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 10%;
    background-image: url(img/excel_background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.definitive_version:hover {
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}

/* .definitive_version a:hover {
    color: red;
    font-weight: 700;
} */

/* img:hover + .definitive_version{
    transform: scale(1.3);
    transition: all 0.5s ease 0s;
} */

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

td,
th

/* Mettre une bordure sur les td ET les th */
    {
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    font-family: system-ui;
    text-align: center
}

.tableau {
    position: relative;
    padding: 1.5% 2%;
    background-color: rgb(128, 132, 193);
    border-color: black;
    border-radius: 5px;
    font-size: 1.3em;
}

.tableau a {
    font-size: 0.9em;
    font-family: system-ui;
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: center;
}

caption {
    font-family: system-ui;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.8em;
    color: rgb(128, 132, 193);
}

h2 {
    text-align: center;
    font-family: system-ui;
    font-weight: 600;
    font-size: 1.8em;
    color: white;
    padding-bottom: 0px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}


.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
    /* padding: 15px; */
    border-radius: 3px;
    border: none;
    margin: auto;
}

label {
    margin-bottom: 10px;
}


/* input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
} */

.formulaire {
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-bottom: 8%;
    padding-top: 20px;
    background-color: rgb(128, 132, 193);
}


input,
textarea {
    text-align: center;
    font-family: system-ui;
    width: 70%;
    padding: 15px;
    border: none;
}

select{
    text-align: center;
    font-family: system-ui;
    width: 25%;
    padding: 5px;
    border: none;
}

.sub-information {
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-column,.sub-information, option,select {
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
}

/* modifier couleur fond champs requis */
:required {
    background-color: white;
}

legend {
    /* text-align: left; */
    font-family: system-ui;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

.button_envoie {
    height: 12%;
    width: 12%;
    text-align: center;
    margin: 2% 44% 1% 44%;
}

fieldset {
    margin: 1%;
    margin-top: 2%;
}
select, textarea{
    margin-top: 10px;
}